/* CSS */

body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    color: #feebc2;
    background: #1a3e5f;
}
#app-container{
    width: 100%;
    overflow: hidden;
}
header{
    width: 100%;
    height: 10vh; /* viewport height */
    position: fixed;
    background: #1a3e5f;
    text-align: center;
}
header h1{
    line-height: 10vh;
    margin:0;
}
#app-body {
    padding-top: 15vh;
    width: 80%;
    margin: 0 auto;
    min-height: 75vh;
}
#app-body .search-form{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}
#app-body .search-form input[type="text"]{
    padding: 12 22px;
}
#app-footer {
  width: 100%;
  min-height: 10vh;
}

#app-footer p {
  margin: 0 auto;
  width: 40%;
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #7f8c8d;
}
.djs{
    width: 100%;
    overflow: hidden;
    padding: 16px;
    margin-bottom:16px;
	position: relative;
}
.djs.liked{
	background-color: rgba(255,255,255,0.1);
}
.djs.liked:hover{
	background-color: rgba(255,255,255,0.05);
}
.em-maple_leaf{
	border: 0;
	outline: 0;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.em-maple_leaf:hover{
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);	
}
.djs.liked .em-maple_leaf{
	font-size: 30px;}

.djs .img-container{
    width: 20%;
}
.djs img {
    max-width: 100%;
}
.djs .info{
    width: 75%;
}
.left{
    float:left;
}
.right{
    float:right;
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #1a3e5f;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  color: #feebc2;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #1a3e5f;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

